/*
 * Code written in this css document contains the global styling for GOAD
 * @Author Mldubbelaar
 */

#crowbar-workspace, #svgdataurl, #pngdataurl, #downloadScatter{display: none;}

.svgTitle {
	font-size:18px;	
}

@media (max-width: 767px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
  
  svg.tpmValsPlot > g > .legend {
  	display:none;
  }
  
  .computerContent,#DownloadTPMGraph,#DownloadQETable,#DEdownloadButtons{
  	display:none;
  }
  .mobileContent {
  	display:block;
  }
}

@media (min-width: 768px) {
  .btn-responsive {
    font-size:100%;
  }
  
   svg.tpmValsPlot > g > .legend {
  	display:block;
  }
  
  .computerContent,#DownloadTPMGraph,#DownloadQETable,#DEdownloadButtons {
  	display:block;
  }
  .mobileContent {
  	display:none;
  }
}

text.label {
	transform:translate(25,12.5) !important;
}

#goadImage{
  float:right;
}

/*#umcgImage{*/
  /*float:right;*/
/*}*/

#rugImage{
  float:right;
}

#divEmptyButton{
  width:5%;
}

.panel-title{
  color:#000000;  
}

.btn-primary, .btn.disabled, .downloadButton{
  border:0px;
  background-color:#519ABC;
  margin-bottom:5px;
}

.downloadButton{
	 border:0px;
  background-color:#519ABC;
  margin-bottom:5px;
  font-color:white;
	
}

#publicationDiv, #dashboard, #TPMdiv{
	overflow-x:auto;
}

#returnAccordion{
  color:#519ABC !important;
  margin-bottom:5px;
}

#tutorialButton{
  border:0px;
  background-color:transparent;
}

#closeModal{
  color:#ffffff !important; 
}

.modal-title{
  background-color:#519ABC;
  color:#ffffff;
  padding:1em;
}

#publicationCard thead tr{
  cursor:pointer;
}

#tutorialDEinfo, #tutorialQEinfo{
  border:0px;
  background-color:#519ABC;
  margin-bottom:5px;
  color:#ffffff;
}

#QETable, #searchBar_QE{
  margin-bottom:5px;
}

#selectBar, #contactInfo, #selectBarMessage, #errorLengthForSubmit,
#publicationPart, #refreshPublications, #QE_content, #searchQE, 
#QE_table, #searchBar_DE, #genePart, #dashboard, #analysis_info, 
#DownloadQE, #selectBarQE, #NoDEGMessage, #materialInfo, #hiddenQEtext, 
#DownloadQETable{
  display:none;
  margin-bottom:1em;
}

#s2id_selectConditions, #informationStudy, .svg-container {
  width:100% !important;
  margin-bottom:1em !important;
}

.main-svg {
  width: 1100px !important;
}

.col-centered, #analysis_info{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tick, .legend {
  font-size:12px;
}

#submitDEbutton{
  align:center;
}

.table-scroll{
  height:350px;
  overflow:auto;
}

.loader {
  margin: 0px auto;
  border: 16px solid #f3f3f3;
  border-radius: 100%;
  border-width: 3px;
  border-style: solid;
  border-image: initial;
  border-top: 3px solid #3498db;
  border-color: rgb(81, 154, 188) rgb(238, 238, 238) rgb(238, 238, 238);
  width: 55px;
  height: 55px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

}

#singleCellWell {
  margin-left:-15px;
  margin-right:15px
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.underline {
  text-decoration: underline;
}
