/*
 * Code written in this css document contains the global styling for GOAD
 * @Author Mldubbelaar
 */

.svgTitle {
	font-size:18px;	
}

@media (max-width: 767px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }

  .computerContent {
  	display:none;
  }
  .mobileContent {
  	display:block;
  }
}

@media (min-width: 768px) {
  .btn-responsive {
    font-size:100%;
  }

  .computerContent {
  	display:block;
  }
  .mobileContent {
  	display:none;
  }
}

text.label {
	transform:translate(25,12.5) !important;
}

#brainSatImage{
  float:right;
}

#divEmptyButton{
  width:5%;
}

.panel-title{
  color:#000000;  
}

.btn-primary, .btn.disabled {
  border:0px;
  background-color:#519ABC;
  margin-bottom:5px;
}

#dashboard, #TPMdiv{
	overflow-x:auto;
}

#returnAccordion{
  color:#519ABC !important;
  margin-bottom:5px;
}

#closeModal{
  color:#000 !important;
}

.modal-title{
  background-color:#519ABC;
  color:#ffffff;
  padding:1em;
}

#publicationCard thead tr{
  cursor:pointer;
}

#QETable, #searchBar_QE{
  margin-bottom:5px;
}

#selectBar, #selectBarMessage, #errorLengthForSubmit,
#publicationPart, #QE_content, #searchBar_DE, #genePart, #dashboard, #analysis_info,
#NoDEGMessage, #SingleCellHelp, #DEHelp{
  display:none;
  margin-bottom:1em;
}

#s2id_selectConditions, #informationStudy, .svg-container {
  width:100% !important;
  margin-bottom:1em !important;
}

.main-svg {
  width: 1100px !important;
}

.col-centered, #analysis_info{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tick, .legend {
  font-size:12px;
}

#submitDEbutton{
  align:center;
}

.table-scroll{
  height:350px;
  overflow:auto;
}

.loader {
  margin: 0px auto;
  border: 16px solid #f3f3f3;
  border-radius: 100%;
  border-width: 3px;
  border-style: solid;
  border-image: initial;
  border-top: 3px solid #3498db;
  border-color: rgb(81, 154, 188) rgb(238, 238, 238) rgb(238, 238, 238);
  width: 55px;
  height: 55px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

}

#singleCellWell {
  margin-left:-15px;
  margin-right:15px
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.underline { text-decoration: underline; }
.tooltip_templates { display: none; }

/* hides the svg dom element that has the click handler responsible for toggling */
#geneInformation .legend .traces .legendtoggle { display: none; }
/* hides the svg dom element that has the click handler responsible for toggling */
#geneInformation .legend .traces .legendtext { cursor: default; }

.tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  color: #fff;
  /*text-align: center;*/
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -50%; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  /*transition: 1s all ease;*/
  transition-delay: 1s;
}

.tooltip .tooltiptext.rightSideHelp  {
  width: 5000%;
  margin-left: -4950%;
}